@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'gradients.scss';
@import 'calendar.scss';

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.ember-view {
  height: 100%;
}

body {
  background-color: #333;
  background-image: url('background.png');
}

a, .fa {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.container-fluid {
  padding-left: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  input {
    min-width: 360px;
    margin-right: 60px;
    border: 0;
    background-color: #222;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    color: white;
  }
}

.sidebar {
  padding: 21px;

  &.tools {    
    color: white;
    height: 100%;
    font-size: 30px;
    background-color: #222;

    .fa {
      margin-top: 10px;
      display: block;

      &:hover {
        color: #bbb;
      }
    }
  }
}

note {
  position: relative;

  .note-container {
    opacity: 0.8;
    height: 200px !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15px;
    padding: 15px;
    word-wrap: break-word;

    h3 {
       margin: 0;
    }

    .fa {
      font-size: 20px;
    }
  }  

  .note-tools {
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: -10px;
    background-color: #222;
    color: white;
    padding-bottom: 10px;

    .fa {
      font-size: 16px;
      margin-top: 10px;
      display: block;
    }

    &.show {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

.colors {
  padding: 10px;
  margin: 0;
}

.color {
  width: 20px;
  height: 20px;
  border: 2px solid lightgray;
  display: inline-block;
  margin-right: 10px;
}

.modal-content {
  background-color: #222;
  opacity: 0.8;
  border-color: #444;
  color: white;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal-content .form-control {
  background-color: #222;
  border-color: #444;
  color: white;
}

.modal-label-color {
  width: 100%;
  height: 30px;
}

textarea {
  max-width: 100%;
  min-height: 300px;
}

.btn-clean {
  background: transparent;
  border: 0;
}

.tt-suggestion, {
  cursor: pointer;
  padding: 6px 12px;
  width: 360px;
  color: white;
  background-color: #222;
  opacity: 0.8;
  border-bottom: 1px solid #ccc;

  span {
    font-size: 16px;
  }
}

.tt-cursor {
  background-color: #4d7bae;
  color: white;
  font-weight: bold;
}

#categories {
  overflow: hidden;

  h4 {
    color: white;
    margin-left: 15px;
  }

  hr {
    border-color: #444;
    margin: 0 15px;
  }

  .category { 
    padding: 0;
    width: 100%;
  }
}

#notes {
  overflow: hidden;
}