calendar {
  color: white;
  font-size: 10px;

  .calendar-header {
    background: transparent;
    padding: 10px;
    text-align: center;

    h3, h4 {
      margin-top: 0;
      font-weight: 300;
    }

    span {
      cursor: pointer;
      margin-top: 10px;
    }
  }

  table {
    border-collapse: separate;
    background: transparent;   
    border-spacing: 10px;

    th, td {
      padding: 5px;
      cursor: pointer;
    }

    td {
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 12px;

      &.active {
        background-color: white;
        border: 1px solid lightgray; 
        border-radius: 100%;
        color: #333;
      }

      &.highlight {
        border: 1px solid #3d94c8;
        border-radius: 100%;
      }

      &.today {
        background-color: #3d94c8;
        border: 1px solid #3d94c8;
        border-radius: 100%;
        color: white;
        font-weight: 800;
      }
    }
  }
}