<div id="notes">
  <aside class="sidebar pull-right">
    {{calendar-widget selectedDate=selectedDate highlightedDates=highlightedDates}}
  </aside>

  <div id="notes-container">
    <ul>
      {{#each note in model}}
        <li>
          {{view 'note'}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>